@model BTLNHOM11.Models.nhaphang

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>nhaphang</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="idnh" class="control-label"></label>
                <input asp-for="idnh" class="form-control" />
                <span asp-validation-for="idnh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tensp" class="control-label"></label>
                <select asp-for="tensp" class ="form-control" asp-items="ViewBag.tensp"></select>
            </div>
            <div class="form-group">
                <label asp-for="tenncc" class="control-label"></label>
                <select asp-for="tenncc" class ="form-control" asp-items="ViewBag.tenncc"></select>
            </div>
            <div class="form-group">
                <label asp-for="soluongnh" class="control-label"></label>
                <input asp-for="soluongnh" class="form-control" />
                <span asp-validation-for="soluongnh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ngaynh" class="control-label"></label>
                <input asp-for="ngaynh" class="form-control" />
                <span asp-validation-for="ngaynh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
